body
    {
        background: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
	
.tm-white a {
	color: #ffffff;
}

.terminal-window {
	font-family: Consolas;
	font-weight: normal;
	background-color: black;
	color: white;
	font-size: 16px;
}

.text {
	margin: 100px 8% 100px 8%;
}

/* start h1 group */
h1 { 
    margin-top: 0;
    margin-bottom: 25px; 
}
h1, h2, h3, h4 {
	font-weight: bold;
}
/* end h1 group */
p { line-height: 1.6em; }
/* img */
img
    {
        max-width: 100%;
        height: auto;
    }
/* img */
/* overlay */
.overlay 
    {
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.4);
       padding-top: 90px;
       padding-bottom: 90px;
    }  
/* over lay */

/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* end page container */

/* start preloader */
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        /*justify-content: center;*/
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #ffffff;
    }
.sk-spinner-rotating-plane.sk-spinner 
    {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #666666;
         margin: 0 auto;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* start navigation */
.navbar {
	width: 100%;
}
.navbar-default
    {
        background-color: white;
        border: none;
        width: 100%;
        box-shadow: 0px 8px 12px 0px rgba(50, 50, 50, 0.3);
        margin: 0!important;
    }
.navbar-default .navbar-brand
    {
        color: #666666;
        font-size: 30px;
        font-weight: bold;
        height: 70px;
        line-height: 35px;
    }
.navbar-brand:hover {
	color: #666666;
}
.navbar-default .nav li a
    {
        color: #666666;
        font-size: 13px;
        font-weight: bold;
        height: 70px;
        line-height: 40px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
    {
        color: #06C1FF;
    }

.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 20px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #666666;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start home */       
#home
    {
	background: url('../images/cloud.jpg') no-repeat;
	background-size: cover;
	color: #ffffff;
	margin-top: 70px;
	text-align: center;
	width: 100%;
}
#home p {
	font-size: 20px;
}
#home img
    {
        display: inline-block;
        margin-top: 30px;
    }
.btn-download {
	display:inline-block;
	border-radius: 2px;
	font-size: 30px;
	margin: 0px auto;
	padding: 10px 55px;
	text-decoration: none;
	background-color: #F4F4F4;
	color: #535353;
	font-weight: bold;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.btn-download:hover {
	text-decoration: none;
	font-size: 30px;
	border-radius: 25px;
	color: black;
	background-color: white;
	text-decoration: none;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.social {
	display:inline-block;
	text-align:center;
	font-size: 25px;
	text-decoration: none;
	color: white;
}

.social:hover {
	display:inline-block;
	text-align:center;
	font-size: 25px;
	text-decoration: none;
	color: white;
}

.social i {
	font-size: 40px;
}


/* end home */

/* start divider */
#divider
    {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#divider .fa
    {
        color: #666666;
        font-size: 60px;
    }
#divider h3
    {
        font-size: 20px;
    }
/* end divider */

/* start feature */
#feature
    {
        background: #f8f8f8;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#feature p
    {
        padding-top: 10px;
    }
#feature span
    {
        float: left;
    }
#feature .fa
    {
        color: #666666;
        font-size: 35px;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
}
    
#img-dashboard {
	max-width: none;
	height: 400px;
	width: auto;
	overflow: hidden;
}
/* end feature */

/* start feature1 */
#feature1
    {
        padding-top: 60px;
        padding-bottom: 60px;
        color: white;
        background-color: #333333;
    }
#feature1 p
    {
        padding-top: 10px;
    }
#feature1 span
    {
        float: left;
    }
#feature1 .fa
    {
        color: white;
        display: inline-block;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
    }
/* end feature1 */

/* start download */
#socialmedia
    {
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: black;
        color: white;
        text-align: center;
    }
#soacialmedia h2
    {
        padding-bottom: 20px;
    }
/* end download */

/* start footer */
footer
    {
        background: #ffffff;
        font-weight: 400;
        text-align: center;
        padding: 20px;
    }
/* end footer */

@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }
    #feature img, #download img {
        margin-top: 30px;
    }
    #feature1 img {
        margin-bottom: 30px;
    }
}
@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }
    #feature, #news {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 1200px) {
	#img-dashboard {
		display: none;
	}
}