vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Aug 2018 21:02:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_author:SR|CDEVLABLAPTOP\\David Rotert
vti_modifiedby:SR|CDEVLABLAPTOP\\David Rotert
vti_timecreated:TR|19 Aug 2018 21:02:20 -0000
vti_cacheddtm:TX|19 Aug 2018 21:02:20 -0000
vti_filesize:IR|1441
