vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Aug 2018 16:10:49 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|GreyCloud/index.html
vti_author:SR|CDEVLABLAPTOP\\David Rotert
vti_modifiedby:SR|CDEVLABLAPTOP\\David Rotert
vti_timecreated:TR|21 Aug 2018 15:35:55 -0000
vti_nexttolasttimemodified:TW|21 Aug 2018 16:10:32 -0000
vti_cacheddtm:TX|21 Aug 2018 16:10:49 -0000
vti_filesize:IR|8002
vti_cachedlinkinfo:VX|S|../images/cloud.jpg
vti_cachedsvcrellinks:VX|FSUS|GreyCloud/images/cloud.jpg
